body {

    font-family: Arial, sans-serif;
    
    background-color: #f0f0f0;
    
    }
    
    header {
    
    background-color: #333;
    
    color: white;
    
    padding: 20px;
    
    }
    
    nav ul {
    
    list-style: none;
    
    display: flex;
    
    }
    
    nav li {
    
    margin: 10px;
    
    }
    
    section {
    
    padding: 20px;
    
    }
    header {
        animation-duration: 8s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }
    
    @keyframes slidein {
      0% {
        margin-left: 0%;
      }
      50% {
        margin-left: 300px;
      }
      100% {
        margin-left: 0%;
      }
    }